[validator_config] ############################################################

validator_ad_id_list = [9876543210]
validator_manager_mnemonic = protect security network ... able reward


[algo_client_config] ##########################################################

algod_config_server = http://localhost:8080
algod_config_token = aaaaaa...aaaaaa


[logging_config] ##############################################################

max_log_file_size_B = 40*1024
num_of_log_files_per_level = 3


[runtime_config] ##############################################################

loop_period_s = 15
