[validator_config] #####################################################################################################

validator_ad_id_list = [1001]
validator_manager_mnemonic = tenant ramp rubber tongue little inch subway orbit injury hotel depart scrap smart spawn winter system need cloud cloud lend idea tumble sphere abstract senior


[algo_client_config] ###################################################################################################

algod_config_server = http://localhost:4001
algod_config_token = aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa


[logging_config] #######################################################################################################

max_log_file_size_B = 40*1024
num_of_log_files_per_level = 3


[runtime_config] #######################################################################################################

loop_period_s = 15
